
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="container-fluid">
    <div style="padding-left:140px;">
        <div class="border border-light rounded shadow h-50" style="width:1200px;">
            <div class="row">
                <div class="col m-3">
                    <div style="padding-top:50px;" class="text-center">
                        <p style="font-size:30px;">re: <b>Think High School</b></p>
                        <br /><br />
                        <p style="font-size:25px;">Nyla is a platform that provides LIVE & recorded CS, Mathematics and Finances courses for ages 13-19</p>
                        <br /><br />
                        <a style="color:white; font-size:30px;" asp-action="SignUp" asp-controller="signup" class="btn btn-primary"><b>Apply Now</b></a>
                    </div>
                </div>

                <div class="col">
                    <img src="~/images/Nylafellowship.png" width="600" height="500" alt="nyla.img" />
                </div>

            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
    <div class="card-deck">
        <div class="card shadow" style="width:400px">
            <img class="card-img-top" src="~/images/cs-img.jpg" width="360" height="200">
            <div class="card-body">
                <h4 class="card-title text-center">Conputer Science</h4>
                <div class="row">
                    <div class="col">
                        <a style="color:white" href="#" class="btn btn-primary">Syllabus</a>
                    </div>

                    <div class="col">
                        <a style="color:white;" href="#" class="btn btn-primary">Enroll</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow" style="width:400px">
            <img class="card-img-top" src="~/images/math-img.jpg" width="360" height="200">
            <div class="card-body">
                <h4 class="card-title text-center">Mathematics</h4>
                <div class="row">
                    <div class="col">
                        <a style="color:white" href="#" class="btn btn-primary">Syllabus</a>
                    </div>

                    <div class="col">
                        <a style="color:white;" href="#" class="btn btn-primary">Enroll</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow" style="width:400px">
            <img class="card-img-top" src="~/images/finances.jpg" width="360" height="200">
            <div class="card-body">
                <h4 class="card-title text-center">Financies</h4>
                <div class="row">
                    <div class="col">
                        <a style="color:white" href="#" class="btn btn-primary">Syllabus</a>
                    </div>

                    <div class="col">
                        <a style="color:white;" href="#" class="btn btn-primary">Enroll</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow" style="width:400px">
            <img class="card-img-top" src="~/images/Nylafellowship.png" width="360" height="200">
            <div class="card-body">
                <h4 class="card-title text-center">Nyla Fellowship</h4>
                <div class="row">
                    <div class="col">
                        <a style="color:white" href="#" class="btn btn-primary">Syllabus</a>
                    </div>

                    <div class="col">
                        <a style="color:white;" href="#" class="btn btn-primary">Enroll</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<br />
<br />

